.btn {
  border: 1px solid #87ceeb !important;
  width: 85px;
}

.btn-sm{
  width: 35px;
}

body, html {
  font-size: 1.1vw;
}

@media screen and (max-width: 600px) {
  body, html {
    font-size: 2vw;
  }
  .btn {
    width: 60px;
  }
  .btn-sm{
    width: 35px!important;
  }
}